/**
 * @file
 * Styling for toolbar_responsive_search module.
 */

.toolbar .toolbar-bar .toolbar-icon-search:before {
  background-image: url(../icons/bebebe/loupe.svg);
}
.toolbar .toolbar-bar .toolbar-icon-search:active:before,
.toolbar .toolbar-bar .toolbar-icon-search.is-active:before {
  background-image: url(../icons/ffffff/loupe.svg);
}
.toolbar-tab-search-mobile .toolbar-tray form {
  padding: 5px 15px;
}
.toolbar-tab-search-mobile .toolbar-tray-horizontal {
  height: 40px;
}
.toolbar .toolbar-tab-search .form-actions,
.toolbar .toolbar-tab-search .form-item {
  margin: 0;
  padding: 0;
}
.toolbar .toolbar-tab-search .form-actions .button {
  margin: 2px 0;
}
.toolbar .toolbar-tab-search .form-search {
  margin-right: 5px;
}
.toolbar .toolbar-tab-search-full .toolbar-item {
  margin: 0;
  padding: 4px 15px;
}

/* Hide the full-width search form at small sizes. */
.toolbar .toolbar-bar .toolbar-tab-search-full {
  display: none;
}
/**
  @todo Integrate with breakpoint module or let this be configurable.
*/
@media screen and (min-width:1000px) {
  .toolbar .toolbar-bar .toolbar-tab-search-full {
    display: block;
  }
  .toolbar .toolbar-bar .toolbar-tab-search-mobile {
    display: none;
  }
}
